<html>
    <head>
        <title>Shop Bok</title>
    </head>
    <body>
        <div>
            <h2><a href="bok/">Bok</a>
               {% block book %}
               {% endblock book %}</h2>
        </div>

        <div>
           <h2><a href="autor/">Autor</a>
               {% block autor %}
               {% endblock autor %}</h2>
        </div>
        <div>
          <h2><a href="shop/">Shop</a>
               {% block shop %}
               {% endblock shop %}</h2>
        </div>
    </body>
</html>





